aiofiles==25.1.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
annotated-types==0.8.0
asgiref==3.12.1
attrs==26.1.0
beautifulsoup4==4.15.0
click==8.4.2
croniter==6.2.4
Django==6.0.7
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-rest-typescript-generator==0.0.2
django-rq==4.1.1
djangorestframework==3.17.1
djangorestframework-dataclasses==1.4.0
EbookLib==0.20
frozenlist==1.8.0
gunicorn==26.0.0
idna==3.18
inflection==0.5.1
lxml==6.1.1
multidict==6.7.1
packaging==26.3
pathvalidate==3.3.1
pillow==12.3.0
propcache==0.5.2
pydantic==2.13.4
pydantic_core==2.46.4
pydoll-python @ git+https://github.com/autoscrape-labs/pydoll.git@1b5b25ff146fb1daf2894b65acac50d9438b4f70
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
redis==8.1.0
rq==2.10.0
six==1.17.0
snowflake-id==1.0.2
soupsieve==2.9.1
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.16.0
url-normalize==3.0.0
websockets==16.1.1
yarl==1.24.5
