@charset "utf-8";

body {
  font-family: serif;
  line-height: 1.8;
  word-spacing: normal;
  letter-spacing: normal;
  white-space: normal;
  word-wrap: break-word;
  -epub-word-break: normal;
  margin: 0;
  padding: 0;
}

img { 
  display: block; 
  max-width: 100%; 
  height: auto; 
  margin: 0.75em auto; 
  page-break-inside: avoid; 
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid; 
}

p {
  text-align: justify;
  display: block;
  margin: 0;
  padding: 0;
  /* margin-block-start: 1em; */
  /* margin-block-end: 1em; */
  margin-bottom: 0;
  text-indent: 0;
}
